{% extends "core/base.twig" %}

{% block main %}

  <section class="section header-offset">
    <div class="container">
      <h1>
        {{ entry.title }}
      </h1>
      <div class="row">
        <div class="col w-6/12">

          {{ entry.body|markdown }}

        </div>
      </div>

    </div>
  </section>

{% endblock %}
