<!DOCTYPE html>
<html lang="en">
<head>
  {% include "core/metadata.html.twig" %}
  <title>{{ currentSite.name }}</title>
</head>
<body>
  <main>
    {% block main %}{% endblock %}
  </main>
</body>
</html>