{# Default page #}

{% extends "core/base.twig" %}

{% block main %}

  <section class="section header-offset">
    <div class="container">
    
      {{ entry.body }}

    </div>
  </section>

{% endblock %}
