{% set query = craft.entries().section("pages") %}

{% set entries = query.all() %}

<ul class="nav-menu">
  {# Display the entries #}
  {% for entry in entries %}
    <li class="nav-menu-item">
      <a href="{{ entry.url }}">{{ entry.title }}</a>
    </li>
  {% endfor %}
</ul>
